body {
    margin: 20px;
    background-color: black;
    color: white;
}

.tituloImagem {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ceoSex {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nomeSite {
    color: white;
}

.nomeSite:hover {
    color: purple;
}

.abas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.abas2 {
    color: white;
}

.abas2:hover {
    color: purple;
}

.prod {
    background-color: #23145b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 400px;
}

.prodImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 190px;
    background-color: #23145b;
    padding-bottom: 70px;
}

.imgProd {
    width: 400px;
    height: 700px;
}

.mac11 {
    background-color: #420024;
    padding: 10px;
}

.mac22 {
    background-color: #70264d;
    padding: 10px;
}

.bomb11 {
    background-color: #9e4d76;
    padding: 10px;
}

.mac:hover {
    transform: scale(1.15);
}

.mac2:hover {
    transform: scale(1.15);
}

.bomb:hover {
    transform: scale(1.15);
}

.imagemProduto {
    display: flex;
    flex-direction: column;
}

.detalheProd {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

p {
    font-size: 30px;
}

html {
    scroll-behavior: smooth;
}